/* Prototype specific styles */

body {
  background-color: rgba(51, 160, 177, 0.5);
  color: #333333;
  padding-top: 0;
}

.txt-lg {
  font-size: 2.5rem;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Spin Up */

.built-by {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

.teko {
  text-transform: uppercase;
  font-family: "Teko";
  font-size: 1.5rem;
  font-weight: 500;
}

a {
  color: #333333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

