/* Prototype specific styles */

body {
  background-color: rgba(51, 160, 177, 0.5);
  color: #333333;
  padding: 0;
}

.txt-lg {
  font-size: 2.5rem;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}